<div class="row" align="center">
  <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">City Information</div>
          <div class="panel-body">
            <p>All data used is real Chicago data and can be found <a href="https://data.cityofchicago.org/">here</a></p>
          </div>
        
          <!-- Table -->
          <table class="table">
            <tr>
              <td>Abandoned Vehicles</td>
              <td>{{dataModel.abandoned_vehicle}}</td>
            </tr>
            <tr>
              <td>Abandoned Buildings</td>
              <td>{{dataModel.abandoned_building}}</td>
            </tr>
            <tr>
              <td>Temperature</td>
              <td>{{dataModel.temperature}}F</td>
            </tr>
            <tr>
              <td>Alley Lights Out</td>
              <td>{{dataModel.alley_light_out}}</td>
            </tr>
            <tr>
              <td>Street Lights Out</td>
              <td>{{dataModel.street_light_out}}</td>
            </tr>
          </table>
        </div>
  </div>
</div>
